@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100..900&family=Quicksand:wght@300..700&display=swap');


/*GENERAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --marron: rgb(83, 48, 16);
    /* Variable de color primaria */
    --crema: rgb(255, 246, 222);
    /* Variable de color secundaria */
}


h1,
h2,
h3,
h4 {
    font-family: "M PLUS 1", sans-serif;
    font-weight: bold;
}

h1 {
    color: rgb(255, 246, 222);
    font-size: 1.5em;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.3em;
    margin: 0.5em;
    color: var(--marron);
}

h4 {
    color: var(--marron);
    font-size: 1.1em;
}

p {
    font-family: "Quicksand", sans-serif;
    margin: 0.5em;
}

.boton {
    text-decoration: none;
    padding: 0.5em 1em;
    width: 45%;
    margin: 0.5em;
    font-family: "Quicksand", sans-serif;
    color: var(--crema);
    background-color: rgb(33 10 0);
    border-radius: 20px;
    transition: all 0.3s ease;
}

label {
    font-family: "Quicksand", sans-serif;
}

main {
    background-color: var(--crema);
}

/*HEADER Y FOOTER*/

header,
footer {
    background-color: rgba(255, 246, 222, 0.507);
    padding: 0.5em 1em;
    align-items: center;
    text-align: center;
}

header {
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
}

header #logo {
    height: 4.5em;
}

header #menu {
    height: 2em;
}

#links {
    display: none;
}

footer img {
    width: 5vh;
}

footer a {
    margin: 0.5em;
}

/*BANNER*/

#banner {
    background-image: url(img/Howls_Moving_Castle_11.jpg);
    background-size: cover;
    background-position: center;
    height: 75vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2em;
    text-align: center;
}

/*FORM*/

form {
    margin: 2em;
    padding: 1.3em;
    background-color: var(--marron);
    color: var(--crema);
    border-radius: 20px;
    text-align: center;
    display: inline-block;
}

#form {
    display: flex;
    justify-content: center;
}

input,
select {
    width: 90%;
    margin: 0.5em;
    padding: 0.3em 0.5em;
    font-family: "Quicksand", sans-serif;
    color: var(--marron);
}

button {
    all: unset;
    padding: 0.7em;
    font-family: "Quicksand", sans-serif;
    color: var(--crema);
    background-color: rgb(33 10 0);
    border-radius: 20px;
    margin: 0.5em;
    transition: all 0.3s ease;
}

/*GRID*/

#grilla {
    height: 200vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
}

#grilla article:nth-child(1) {
    background-image: url(img/cH8XTsoJFaNxmV9EXwyzm8BPbPj.jpg);
    background-size: cover;
    background-position: center;
}

#grilla article:nth-child(2) {
    background-color: rgb(29, 49, 15);
    display: flex;
    justify-content: center;
    align-items: center;
}

#grilla article:nth-child(3) {
    background-image: url(img/hzxTvNo6HNXedWDwJMxhEj0AG90.jpg);
    background-size: cover;
    background-position: center;
}

#grilla article:nth-child(4) {
    display: none;
    grid-column: span 2;
    background-image: url(img/jXLBlTRUJNcx8F2nV6qJhVxR8Ve.jpg);
    background-size: cover;
    background-position: center;
}

#grilla article:nth-child(5) {
    background-image: url(img/644iwTl06fPHKlEH5IHwKHDUIlm.jpg);
    background-size: cover;
    background-position: center;
}

#grilla article:nth-child(6) {
    background-image: url(img/9jflEDDKw2fVNpohrIMapTWVVgR.jpg);
    background-size: cover;
    background-position: center;
}

#nuevaPeli {
    height: 100%;
    width: 100%;
    padding-top: 1em;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

#nuevaPeli h3 {
    font-size: 1.1em;
}

#boyAndHeron {
    width: 80%;
    height: 70%;
    background-image: url(img/The_boy_and_the_heron.jpg);
    background-position: center;
    background-size: cover;
}

/*CARDS*/

#peliculas {
    padding: 1em 0em;
    text-align: center;
}

#peliculas article {
    margin: 2em 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    text-align: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    border: 2px var(--marron) solid;
    overflow: hidden;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

#peliculas img {
    width: 100%;
    border-radius: 10px;
}

#peliculas p {
    font-size: 0.8em;
}

#peliculas div img {
    display: none;
}

.bandera {
    display: none;
}

@media all and (min-width:768px) {
    header #menu {
        display: none;
    }

    #links {
        display: block;
    }

    #banner {
        text-align: start;
    }

    input,
    select {
        width: 34%;
        margin: 0.5em;
        padding: 0.3em 0.5em;
        font-family: "Quicksand", sans-serif;
        color: var(--marron);
    }

    #grilla {
        height: 200vh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    #grilla article:nth-child(2) {
        grid-row: span 2;
    }

    #grilla article:nth-child(4) {
        display: flex;
        flex-direction: column;
        justify-content: end;
        text-align: center;
        padding: 1em;
        color: var(--crema);
    }

    #nuevaPeli {
        width: 80%;
        height: 70%;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s, box-shadow 0.3s;
    }

    #peliculas {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #peliculas h2 {
        width: 100%;
        text-align: start;
        margin-left: 5vw;
        font-size: 1.6em;
    }

    #peliculas article {
        width: 45%;
        margin: 1em 0.5em;
    }

    #peliculas div {
        width: 45%;
    }

    #peliculas div article {
        width: 100%;
    }

    footer {
        display: flex;
        justify-content: flex-end;
    }

    footer h3 {
        margin-right: 4em;
    }
}

@media all and (min-width:1200px) {
    #banner {
        position: relative;
    }

    #banner h1 {
        font-size: 1.8em;
        width: 50%;
    }

    #form {
        max-width: 700px;
        width: 45%;
        position: absolute;
        bottom: 2em;
        right: 2em;
    }

    input,
    select {
        width: 90%;
    }

    #grilla {
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin-top: 10em;
        margin-bottom: 5%;
    }

    #grilla article:nth-child(4) {
        grid-row: 1;
        grid-column: 3/5;
    }

    #peliculas article {
        width: 30%;
        margin: 1em 0.5em;
        position: relative;
    }

    #peliculas div img {
        display: block;
    }

    #peliculas div {
        display: flex;
        width: 60%;
    }

    .bandera {
        display: block;
        padding: 1em 2em 1em 1em;
        position: absolute;
        right: -0.5em;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.37);
    }

    #peliculas article:nth-child(2) .bandera {
        background-color: var(--marron);
        color: var(--crema);
    }

    #peliculas article:nth-child(3) .bandera {
        background-color: rgb(143, 83, 28);
        color: var(--crema);
    }

    #peliculas article:nth-child(4) .bandera {
        background-color: rgb(192, 113, 40);
        color: var(--crema);
    }

    /*HOVER*/

    .boton:hover,
    button:hover {
        background-color: rgb(60, 20, 0);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        transform: scale(1.05);
    }

    #nuevaPeli:hover,
    #peliculas article:hover {
        transform: translateY(-10px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
}